<div class="mt-4 mb-4">
    <a href="/" class="btn btn-secondary">All articles</a>
</div>


<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">{{findArticle.title}}</h5>
    <p class="card-text">{{findArticle.markdown}}</p>
    <a href="/articles/edit/{{findArticle._id}}" class="btn btn-primary">Edit</a>
  </div>
</div>